@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-light leading-tight tracking-tight;
  }
  h2 {
    @apply text-4xl font-light leading-tight tracking-tight;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.slider {
  /*grid-auto-columns: minmax(38vw, 1fr);*/
}

body {
  display: grid;
  grid-template-areas:
    "navigation"
    "content";

  grid-template-columns: minmax(0, max-content) minmax(0, max-content);
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
    grid-template-areas: "navigation content";
  }
}
